html {
    height: 100%;
}

body {
    height: calc(100% - 60px);
    background: #f9f9f9;
}

/** Top of Page Navigation Bar **/

nav {
    background: #181930;
}

nav img.navbar-logo {
    max-width: 30px;
    max-height: 30px;
}

nav a.navbar-brand,
nav a.navbar-brand:hover,
nav a.navbar-brand:visited,
nav a.navbar-brand:active {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav button.btn {
    padding: 2px 8px;
}

nav button i {
    font-size: large;
}